/* Removemos os estilos padrão do Vite */

/*
 * =======================================================
 * ✒️ FONTES CUSTOMIZADAS
 * =======================================================
 * Classe especial para os títulos que possuem
 * estilo itálico, como no novo design.
 */
.font-title {
  font-style: italic;
  font-weight: 600; /* Deixa o itálico um pouco mais forte */
}
